<% unless flash[:notice].blank? %>
  <br/>
  <div class="alert alert-dismissible alert-success alert-menu-fix">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:notice] %>
  </div>
<% end %>
<% unless flash[:alert].blank? %>
  <br/>
  <div class="alert alert-dismissible alert-warning alert-menu-fix">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:alert] %>
  </div>
<% end %>
